.eslintrc.json
.gitignore
.nvmrc
.prettierignore
.prettierrc.json
next-env.d.ts
next.config.json
package.json
README.md
tsconfig.json
yarn.lock
node_modules/
public/
styles/
build/
.next/
amplify/
amplify.yml
.vscode/
**/*.css
package-lock.json
.firebaserc
firebase-debug.log
firebase.json
ui-debug.log
